@use '../variables' as *;


.footer__entry{
    background-color: $dark-violet;
    background-image: url('/images/bg-boost-desktop.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: auto;

    margin-top: 10rem;
    padding: 3.5rem 0;

    color: $white;

    .section__content{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        row-gap: 10px;

    }
}

footer{
    display: flex;
    justify-content: space-between;

    padding: 3.5rem 0;

    .links{
        display: flex;
        justify-content: space-around;
        margin: 0 auto;

        column-gap: 4.5rem;

        &__item{
            font-size: $fw-500;
            h5{
                color: $white;
                margin-bottom: 1rem;                
            }

            ul{
                li{
                    margin: .8rem 0;
                    font-size: .7rem;
                }
            }
        }
    }

    .handles__attribution{
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        

        .handles{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: auto;
            column-gap: 20px;

            a{
                font-size: 1.5rem;
                color: $white;
                &:hover{
                    color: $cyan;
                }

            }
            


        }


        .attribution{
            font-size: .6rem;
            text-align: right;
        }
        a{
            font-size: inherit;
            font-weight: $fw-500;
        }
    }
}

@media (max-width:$mobile-breakpoint) {

    .footer__entry{
        background-image: url('/images/bg-boost-mobile.svg');
    }
    footer {
        flex-direction: column;    
        align-items: center;

        row-gap: 2.5rem;

        text-align: center;
    
        .links {
                
            align-items: center;

            row-gap: 1.5rem;
            flex-direction: column;

            }
    

        }
}