@use '../variables' as *;

.stats__ercepts{
    

    display: flex;
    // align-items: center;
    justify-content: center;

    column-gap: 1.5rem;

    position: relative;

    &::after{
        content: "";
        position: absolute;

        width: 80%;
        height: 7px;
        background-color: $cyan;

        top: 48%;
        z-index: -1;
    }


    article{
        position: relative;
        background-color: $white;
        padding: 2.3rem 2rem 2rem 2rem;

        font-size: .95rem;
        width: 300px;

        border-radius: 6px;

        .ercept__icon{
            position: absolute;
            top: -15%;
            left: 10%;

            background-color: $dark-violet;
            width: 60px;
            height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;

            border-radius: 50%;

            padding: 1rem;

            img{
                width: 100%;
                height: auto;
            }

        }

        h4{
            font-weight: 700;
            color: $very-dark-blue;

            margin: .9rem 0;
            
        }

        p{
            font-size: .8rem;
            line-height: 1.5rem;
        }

        &:nth-of-type(2) {
            position: relative;
            bottom: -30px;
        }
        &:last-of-type {
            position: relative;
            bottom: -60px;
        }

    }

    
}


@media (max-width:$mobile-breakpoint) {
    .stats__ercepts {
    
    
            
            align-items: center;
            justify-content: center;

            flex-direction: column;
    
            row-gap: 2.9rem;
    
            &::after {
                height: 80%;
                width: 7px;
                top: 0%;
            }
    
    
            article {
                text-align: center;
    
                .ercept__icon {
                    
                    left: 38%;
                    width: 70px;
                    height: 70px;    
                }
    
            }
    
    
        }
}